*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
}

nav.menu-lateral{
    height: 100%;
    width: 50px;
    background-color: rgb(31, 152, 189);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(255, 165, 0);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;

}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir> i{
    color: aliceblue;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;

}

ul li.item-menu{
    transition: .1s;
}

ul li.ativo{
    background-color: orange ;
}

ul li.item-menu:hover{
    background: orange;
}

ul li.item-menu a{
    color: rgb(248, 246, 243);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .text-link{
    margin-left: 40px;
}

ul li.item-menu a.icon> i{
    font-size: 30px;
    margin-left: 10px;
}
 
